.element {
  -webkit-animation: tutsFade 4s 1s infinite linear alternate;
  -moz-animation: tutsFade 4s 1s infinite linear alternate;
  -ms-animation: tutsFade 4s 1s infinite linear alternate;
  -o-animation: tutsFade 4s 1s infinite linear alternate;
  animation:  tutsFade 4s 1s infinite linear alternate,
              tutsRotate 4s 1s infinite linear alternate,
              square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

div {
  width: 200px;
  height: 200px;
  background-color: coral;
  outline: 2px solid transparent;
}

@keyframes tutsFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tutsRotate {
  to {
    transform: rotate(180deg);
  }
}

@keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
    background: red;
  }
  25% {
    border-radius: 50% 0 0 0;
    background: orange;
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: yellow;
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: green;
  }
  100% {
    border-radius: 50%;
    background: blue;
  }
}
